{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "none",
  "proseWrap": "never",
  "endOfLine": "auto",
  "useTabs": false,
  "insertPragma": false,
  "overrides": [
    { "files": ".eslintrc", "options": { "parser": "json" } },
    { "files": ".prettierrc", "options": { "parser": "json" } }
  ]
}
